openapi: 3.0.0
info:
  title: Bank iD Wallet APIs
  version: 1.3.0
  description: |
    Describes APIs to be implemented by Bank iD.

    * Version 1.1.0
      * updated documentation incorporating findings from POTENTIAL piloting
    * Version 1.0.0
      * the first version of the document for POC purposes
    </details>

    <details>
    <summary>**Basic Information**</summary>
    Bank iD is only required to implement APIs that are specified in this document, as that is what will be used by the SeP.
    However for additional explanations and details, it is strongly recommended that readers are familiar 
    with the specifications below.


    **Source material and relevant modifications:**

    * [OpenID.Core](https://openid.net/specs/openid-connect-core-1_0.html) OpenID Connect Core 1.0

        * Signed and encrypted JWTs MAY be used for /userinfo and /profile responses

        * In Service Provider's Bank iD relationship the UserInfo Claims MUST be returned as the 
        members of a JSON object unless a signed or encrypted response was requested during 
        Client Registration.

        * The sub (subject) Claim MUST always be returned in the UserInfo Response.

        * If a Claim is not returned, that Claim Name SHOULD be omitted from the JSON object 
        representing the Claims; it SHOULD NOT be present with a null or empty string value.

        * The sub Claim in the UserInfo and Profile Response MUST be verified to exactly match the sub Claim 
        in the ID Token; if they do not match, the UserInfo Response values MUST NOT be used.

        * The UserInfo and Profile Endpoint MUST return a content-type header to indicate which format is 
        being returned and if the response body is a text JSON object; the response body SHOULD 
        be encoded using UTF-8.

        * If the UserInfo or Profile Response is signed and/or encrypted, then the Claims are returned in a 
        JWT and the content-type MUST be application/jwt. The response MAY be encrypted without 
        also being signed. If both signing and encryption are requested, the response MUST be 
        signed then encrypted, with the result being a Nested JWT.

      * [OpenID.IdentityAssurance](https://openid.net/specs/openid-connect-4-identity-assurance-1_0.html) 
      OpenID Connect for Identity Assurance 1.0

        * The `txn` Claim as defined in [RFC8417](https://tools.ietf.org/html/rfc8417) is used 
        in the context of Bank iD data exchange to build audit trails across the parties involved 
        in an OpenID Connect transaction. Claim txn is always REQUIRED in the userinfo response 
        content.

        * This arrangement introduces the possibility for the bank to separate the verified
         Claims within a container element `verified_claims`. This container is composed of the 
         verification evidence related to a certain verification process and the corresponding 
         Claims about the End-User which were verified in this process.

        * Implementations MUST ignore any sub-element not defined in this specification or 
        extensions of this specification.

        * In the case of this definition verification element MUST consist of the following elements:

          * `trust_framework`: REQUIRED. String determining the trust framework governing the 
          identity verification process. For example, the value of ``cz_aml`` for verification 
          according to the Czech AML law.

          * `time`: OPTIONAL. Time stamp in ISO 8601:2004 [ISO8601-2004] YYYY-MM-DDThh:mm:ss±hh 
          format representing the date and time when identity verification took place.

          * `verification_process`: REQUIRED. In the case of this specification, the verification 
          process shall include the PID issuer identification as stated in PID, which is issuing authority listed in EU trust list

        * Verified Claims can be requested on the level of individual Claims about the End-User 
        by utilizing the claims parameter as defined in Section 5.5. of the OpenID Connect 
        specification [OpenID](https://openid.net/specs/openid-connect-core-1_0.html#ClaimsParameter)

    * [OpenID.Discovery](https://openid.net/specs/openid-connect-discovery-1_0.html) OpenID Connect Discovery 1.0

    * [OpenID.SessionManagement](https://openid.net/specs/openid-connect-session-1_0.html) OpenID Session Management 1.0

    * [OpenID.Front-ChannelLogout](https://openid.net/specs/openid-connect-frontchannel-1_0.html)

    * [OpenID.Back-ChannelLogout](https://openid.net/specs/openid-connect-backchannel-1_0.html)

    * [PKCE - RFC7636](https://tools.ietf.org/html/rfc7636) Proof Key for Code Exchange by OAuth Public Clients

    * [RFC6749](https://tools.ietf.org/html/rfc6749) The OAuth 2.0 Authorization Framework

    * [RFC6750](https://tools.ietf.org/html/rfc6750) The OAuth 2.0 Authorization Framework: Bearer Token Usage

    * [RFC7662](https://tools.ietf.org/html/rfc7662) OAuth 2.0 Token Introspection

    * [RFC7517](https://tools.ietf.org/html/rfc7517) JSON Web Key (JWK)
    </details>

security:
  - profile:
      - profile.name
      - profile.titles
      - profile.gender
      - profile.birthdate
      - profile.birthnumber
      - profile.birthplaceNationality
      - profile.maritalstatus
      - profile.addresses
      - profile.idcards
      - profile.paymentAccounts
      - profile.email
      - profile.phonenumber
      - profile.updatedat
      - profile.legalstatus
      - profile.verification
      - service
      - credential

servers:
  - url: https://wallet.sandbox.bankid.cz/
paths:
  /oauth2/authorize:
    get:
      summary: Begin the Bank iD authentication flow
      externalDocs:
        description: 'Bank iD OpenId Connect Authentication request'
        url: 'https://developer.bankid.cz/docs/apis_sep#authorization-api'
      description: |
        This GET endpoint is a starting point for OAuth2 and OpenID Connect authorization flows.Code grant and implicit grant is supported by Authorization. Is strictly recommended to 
        use `Authorization Code` flow [RFC6749 - The OAuth 2.0 Authorization Framework - Authorization Code](https://tools.ietf.org/html/rfc6749#section-1.3.1).
        For `single-page-application` or `browser-based` apps is recommended to use `Authorization Code` flow with [PKCE - RFC7636](https://tools.ietf.org/html/rfc7636)

        This request authenticates the user and returns tokens to the client application as a part of the callback response.

        **Technical scopes** (used in the `scope` query parameter):
        - openid (always required scope)  
        - offline_access (the scope must be specified if a refresh_token release is required)

      tags:
        - Authorization Request
      parameters:
        - $ref: '#/components/parameters/auth_redirect_uri'
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_response_type'
        - $ref: '#/components/parameters/auth_id_token_hint'
        - $ref: '#/components/parameters/auth_nonce'
        - $ref: '#/components/parameters/auth_state'
        - $ref: '#/components/parameters/auth_scope'
        - $ref: '#/components/parameters/auth_acr_values'
        - $ref: '#/components/parameters/auth_max_age'
        - $ref: '#/components/parameters/auth_response_mode'
        - $ref: '#/components/parameters/auth_ui_locales'
        - $ref: '#/components/parameters/auth_credential_format'
        - $ref: '#/components/parameters/auth_wallet_profile'

      callbacks:
        Login-Flow-Success:
          '{$request.query.redirect_uri}':
            get:
              description: |-
                In case of `response_type=code`.
                Redirect the End-User to `redirect_uri` after giving consent in Wallet's consent screen
              parameters:
                - $ref: '#/components/parameters/auth_code'
                - $ref: '#/components/parameters/auth_state'
              responses:
                '200':
                  description: Redirect successful
                  headers:
                    traceId:
                      description: Unique ID for each API call for support purposes.
                      schema:
                        $ref: '#/components/schemas/traceId'

        Error:
          '{$request.query.redirect_uri}':
            get:
              description: >-
                If the resource owner denies the access request or if the request fails for reasons **other than a missing or invalid redirection URI**,
                the authorization server informs the client by adding the following parameters to the query component of the redirection URI using the
                "application/x-www-form-urlencoded" format
              parameters:
                - $ref: '#/components/parameters/auth_error'
                - $ref: '#/components/parameters/auth_error_description'
                - $ref: '#/components/parameters/auth_error_uri'
                - $ref: '#/components/parameters/auth_state'
              responses:
                '200':
                  headers:
                    traceId:
                      description: Unique ID for each API call for support purposes.
                      schema:
                        $ref: '#/components/schemas/traceId'
                  description: Redirect successful

      responses:
        '302':
          description: |
            Authentication Response. As a response to authentication flow, the IDP will then call the client redirect_uri with an authorization code or access_token 
            (in case of successful authentication) or an error response code (if access denied, or when some other error occurred).
          headers:
            traceId:
              description: Unique ID for each API call for support purposes.
              schema:
                $ref: '#/components/schemas/traceId'
            Location:
              description: |
                Redirect response to endpoint specified in redirect_uri with parameters:
                `code` Authorization Code.
                `state` OAuth 2.0 state value. REQUIRED if the state parameter is present in the Authorization Request. Clients MUST verify that the state value is equal to the value of state parameter in the Authorization Request.
              schema:
                type: string
                format: uri
              example: |
                HTTP/1.1 302 Found
                Location: https://service.example.cz/callback?
                    code=123456
                    &state=jdpi9hu1HH
        '400':
          $ref: '#/components/responses/RequestInvalidError'
        '429':
          $ref: '#/components/responses/TooManyRequestError'

    post:
      summary: Begin the Bank iD authentication flow
      externalDocs:
        description: 'Bank iD OpenId Connect Authentication request'
        url: 'https://developer.bankid.cz/docs/apis_sep#authorization-api'
      description: >-
        This POST endpoint is a starting point for OAuth2 and OpenID Connect authorization flows. Code grant and implicit grant is supported by Authorization. Is strictly recommended
        to use `Authorization Code` flow [RFC6749 - The OAuth 2.0 Authorization Framework - Authorization Code](https://tools.ietf.org/html/rfc6749#section-1.3.1).
        For `single-page-application` or `browser-based` apps is recommended to use `Authorization Code` flow with [PKCE - RFC7636](https://tools.ietf.org/html/rfc7636)

        This request authenticates the user and returns tokens to the client application as a part of the callback response.
      tags:
        - Authorization Request
      parameters:
        - $ref: '#/components/parameters/auth_redirect_uri'
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_response_type'
        - $ref: '#/components/parameters/auth_id_token_hint'
        - $ref: '#/components/parameters/auth_nonce'
        - $ref: '#/components/parameters/auth_state'
        - $ref: '#/components/parameters/auth_scope'
        - $ref: '#/components/parameters/auth_acr_values'
        - $ref: '#/components/parameters/auth_max_age'
        - $ref: '#/components/parameters/auth_response_mode'
        - $ref: '#/components/parameters/auth_ui_locales'
        - $ref: '#/components/parameters/auth_claims'

      callbacks:
        Login-Flow-Success:
          '{$request.query.redirect_uri}':
            get:
              description: |-
                In case of `response_type=code`.

                Redirect the End-User to `redirect_uri` after giving consent in bank's "HTML showing consent screen"
              parameters:
                - $ref: '#/components/parameters/auth_code'
                - $ref: '#/components/parameters/auth_state'
              responses:
                '200':
                  description: Redirect successful
                  headers:
                    traceId:
                      description: Unique ID for each API call for support purposes.
                      schema:
                        $ref: '#/components/schemas/traceId'
        Error:
          '{$request.query.redirect_uri}':
            get:
              description: >-
                If the resource owner denies the access request or if the request fails for reasons **other than a missing or invalid redirection URI**,
                the authorization server informs the client by adding the following parameters to the query component of the redirection URI using the
                "application/x-www-form-urlencoded" format
              parameters:
                - $ref: '#/components/parameters/auth_error'
                - $ref: '#/components/parameters/auth_error_description'
                - $ref: '#/components/parameters/auth_error_uri'
                - $ref: '#/components/parameters/auth_state'
              responses:
                '200':
                  description: Redirect successful
                  headers:
                    traceId:
                      description: Unique ID for each API call for support purposes.
                      schema:
                        $ref: '#/components/schemas/traceId'

      responses:
        '200':
          description: |
            Authentication Response. As a response to authentication flow, the IDP will then call the client 
            redirect_uri with an authorization code or access_token (in case of successful authentication) or an 
            error response code (if access denied, or when some other error occurred).
          headers:
            traceId:
              description: Unique ID for each API call for support purposes.
              schema:
                $ref: '#/components/schemas/traceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationRequestResponse'
        '400':
          $ref: '#/components/responses/RequestInvalidError'
        '429':
          $ref: '#/components/responses/TooManyRequestError'
  /callback:
    get:
      tags:
        - Wallet Callback
      description: |
        API used by Wallet for returning presentations in HTTP GET flavor. 
        Returns callback url for user-agent redirection
      parameters:
        - $ref: '#/components/parameters/callback_vp_token'
        - $ref: '#/components/parameters/auth_state'
      responses:
        '302':
          description: |
          headers:
            traceId:
              description: Unique ID for each API call for support purposes.
              schema:
                $ref: '#/components/schemas/traceId'
            Location:
              description: |
                Redirect response to endpoint specified in redirect_uri with parameters:
                `code` Authorization Code.
                `state` OAuth 2.0 state value. REQUIRED if the state parameter is present in the Authorization Request. Clients MUST verify that the state value is equal to the value of state parameter in the Authorization Request.
              schema:
                type: string
                format: uri
              example: |
                HTTP/1.1 302 Found
                Location: https://service.example.cz/callback?
                    code=123456
                    &state=jdpi9hu1HH
    post:
      description: >-
        API used by Wallet for returning presentations in HTTP POST flavor. 
        Used for direct_post and direct_post.jwt mode. This API is implemented only by wallet. 
        It is described is this documents only for completeness of documentation.
      tags:
        - Wallet Callback
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              oneOf:
                - $ref: '#/components/schemas/wallet_post_callback'
                - $ref: '#/components/schemas/wallet_post_jwt_callback'

      responses:
        '200':
          description: Valid response
          content:
            application/json:
              schema:
                properties:
                  redirect_uri:
                    description: Uri pro original User Agent, Wallet uses this URI to redirect in user's device. Used in same device flows.

  /oauth2/token:
    post:
      summary: Acquire a new set of tokens
      externalDocs:
        description: 'The OAuth 2.0 Authorization Framework'
        url: https://tools.ietf.org/html/rfc6749
      description: >-
        The token endpoint is used by the client to obtain an access token by presenting its authorization grant or refresh token.


        The means through which the client obtains the location of the token endpoint are beyond the scope of this specification, but the location
        is typically provided in the service documentation. The endpoint URI **MUST NOT** include a fragment component.


        Since requests to the token endpoint result in the transmission of clear-text credentials (in the HTTP request and response), the
        authorization server **MUST** require the use of TLS when sending requests to the token endpoint.


        If the Client is a Confidential Client, then it **MUST** authenticate to the token endpoint using the authentication method registered for its client_id,
        as described in Section 9 of [OpenID.Core](https://openid.net/specs/openid-connect-core-1_0.html#ClientAuthentication). 


        Parameters sent without a value **MUST** be treated as if they were omitted from the request. The authorization server MUST ignore
        unrecognized request parameters. Request and response parameters **MUST NOT** be included more than once.
      tags:
        - Token management
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              oneOf:
                - $ref: '#/components/schemas/AuthorizationCodeTokenRequest'
              description: |-
                In case of issuing access token from authorization code:
                 - [RFC6749 - 4.1.3. Access Token Request](https://tools.ietf.org/html/rfc6749#section-4.1.3)


                PKCE and refreshing access token is not supported for now
              example:
                grant_type: authorization_code
                code: '8BFAC1DA-3F94-4BBD-A743-473080FB6073'
                redirect_uri: 'https://rp.example.com/callback'
      responses:
        '200':
          description: 'Request for token was successful'
          headers:
            traceId:
              description: Unique ID for each API call for support purposes.
              schema:
                $ref: '#/components/schemas/traceId'
            Cache-Control:
              schema:
                type: string
                enum:
                  - 'no-store'
            Pragma:
              schema:
                type: string
                enum:
                  - no-cache
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenResponse'
        '400':
          $ref: '#/components/responses/TokenErrorResponse'
        '401':
          $ref: '#/components/responses/TokenErrorResponseBadCredentials'
        '429':
          $ref: '#/components/responses/TooManyRequestError'
        '500':
          description: 'Internal Server Error'
          headers:
            traceId:
              description: Unique ID for each API call for support purposes.
              schema:
                $ref: '#/components/schemas/traceId'

  /oauth2/token-info:
    post:
      summary: Decode and obtain token metadata
      externalDocs:
        description: 'Official documentation for OAuth 2.0 Token Introspection'
        url: 'https://tools.ietf.org/html/rfc7662'
      description:
        The introspection endpoint is an OAuth 2.0 endpoint that takes a parameter representing an OAuth 2.0 token and returns a JSON
        representing the meta information surrounding the token, including whether this token is currently active.

      security:
        - AccessTokenAuth: []
      tags:
        - Token management
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TokenIntrospectionRequest'
          application/jwt:
            schema:
              $ref: '#/components/schemas/TokenIntrospectionRequest'
      responses:
        '200':
          description: 'Token information was obtained'
          headers:
            traceId:
              description: Unique ID for each API call for support purposes.
              schema:
                $ref: '#/components/schemas/traceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenInfoResponse'
            application/jwt:
              schema:
                $ref: '#/components/schemas/TokenInfoResponse'
        '400':
          $ref: '#/components/responses/TokenErrorResponse'
        '401':
          $ref: '#/components/responses/TokenErrorResponseInvalidClient'
        '429':
          $ref: '#/components/responses/TooManyRequestError'
        '500':
          description: 'Internal Server Error'
          headers:
            traceId:
              description: Unique ID for each API call for support purposes.
              schema:
                $ref: '#/components/schemas/traceId'

  /status:
    get:
      summary: Polling API for retrieving status of authentication via Wallet
      description: |
        Status endpoint is custom endpoint for browser and server-sice polling of authorization request status. 
        This endpoint provides lightweight option for obtaining information and consequent actions by Service Provider.
      tags:
        - Polling
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_state'
      responses:
        '200':
          description: Valid response
          headers:
            traceId:
              description: Unique ID for each API call for support purposes.
              schema:
                $ref: '#/components/schemas/traceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PollingResponse'
              example:
                status: DONE
                state: 'ab123456'

  /userinfo:
    get:
      summary: Returns basic Claims about the authenticated End-User
      description: |
        The UserInfo Endpoint is an OAuth 2.0 Protected Resource that returns Claims about the authenticated End-User. To obtain the requested Claims about the End-User, the Client makes 
        a request to the UserInfo Endpoint using an Access Token obtained through OpenID Connect Authentication. These Claims are normally represented by a JSON object that contains a collection 
        of name and value pairs for the Claims.

        Supported scopes (claims):
        - profile.name (given_name, family_name, middle_name, nickname, preferred_username)
        - profile.titles (title_prefix, title_suffix)
        - profile.gender (gender)
        - profile.birthdate (birthdate, age, date_of_death)
        - profile.birthnumber (birthnumber)
        - profile.birthplaceNationality (birthplace, birthcountry, primary_nationality, nationalities)
        - profile.maritalstatus (maritalstatus)
        - profile.addresses (addresses.*)
        - profile.idcards (idcards.*)
        - profile.paymentAccounts (paymentAccounts, paymentAccountsDetails)
        - profile.email (email)
        - profile.phonenumber (phone_number)
        - profile.updatedat (updated_at)
        - profile.legalstatus (majority, pep, limited_legal_capacity)

        Technical scopes:
        - openid (always required scope)
        - offline_access (the scope must be specified if a refresh_token release is required)
        - notification.claims_updated (notification service)

      security:
        - Bearer: []
      tags:
        - User Info
      responses:
        '200':
          description: 'OK'
          headers:
            traceId:
              description: Unique ID for each API call for support purposes.
              schema:
                $ref: '#/components/schemas/traceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userInfo'
              examples:
                userInfo:
                  $ref: '#/components/examples/userInfo'
            application/jwt:
              schema:
                type: string
                format: binary
              example: ewoidHlwIjoiVXNlcmluZm8iLAoiYWxnIjoiSFMyNTYiCn0K.ewoic3ViIjogIjIzZjFhYzAwLTVkNTQtNDE2OS1hMjg4LTc5NGFlMmVhZDBjNCIsCiJuYW1lIjogIkphbiBOb3bDoWsiLAoiZ2l2ZW5fbmFtZSI6ICJKYW4iLAogIAkiZmFtaWx5X25hbWUiOiAiTm92w6FrIiwKICAJIm1pZGRsZV9uYW1lIjogIiIsCiAgCSJuaWNrbmFtZSI6ICJab3JybyIsCiAgCSJwcmVmZXJyZWRfdXNlcm5hbWUiOiAiSmFuIiwKIAkiZW1haWwiOiAiSi5ub3Zha0BlbWFpbC5jb20iLAogIAkiZW1haWxfdmVyaWZpZWQiOiB0cnVlLAogIAkiZ2VuZGVyIjogIm1hbGUiLAogIAkiYmlydGhkYXRlIjogIjE5NzAtMDgtMDEiLAogIAkiem9uZWluZm8iOiAiRXVyb3BlL1ByYWd1ZSIsCiAgCSJsb2NhbGUiOiAiY3NfQ1oiLAogIAkicGhvbmVfbnVtYmVyIjogIis0MjAxMjM0NTY3ODkiLAogIAkicGhvbmVfbnVtYmVyX3ZlcmlmaWVkIjogZmFsc2UsCiAidXBkYXRlZF9hdCI6IDE1NjgxODg0MzMwMDAKfQo=.cDEuITlDHi14RUEGG3cxEWoXFzZWIG46JmMWZu+/vXImNBh0QUXlgq07xbYWYzF2biUl77+9dXZ2XAEjbFg1fgEDKRXYrgUuCm8kWzNKHgQKIARNPhIBMHlbMtS9O0FmZRl5I31w07FdPC4ndUVkRBd6Dj4nWmEKe9aHHjFgAxFIUTI8bgFbPfK6lbcXLFZsWVZpKBw0MmlUPQFw
        '401':
          description: 'Unauthorized request'
          headers:
            traceId:
              description: Unique ID for each API call for support purposes.
              schema:
                $ref: '#/components/schemas/traceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              example:
                error: UNAUTHORIZED
                error_description: 'Invalid/missing access token'
        '403':
          description: 'Request was forbidden'
          headers:
            traceId:
              description: Unique ID for each API call for support purposes.
              schema:
                $ref: '#/components/schemas/traceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              example:
                error: FORBIDDEN
                error_description: 'Authentication with an expired access token or bearer access token having insufficient privileges'
        '500':
          description: 'Internal Server Error'
          headers:
            traceId:
              description: Unique ID for each API call for support purposes.
              schema:
                $ref: '#/components/schemas/traceId'
        '429':
          $ref: '#/components/responses/TooManyRequestError'

  /profile:
    get:
      summary: Returns an extended (down to AML) set of authenticated End-User information.
      description: |
        The Profile Endpoint is an OAuth 2.0 Protected Resource that returns Claims about the authenticated End-User.

        Supported scopes (claims):
        - profile.name (given_name, family_name, middle_name, nickname, preferred_username)
        - profile.titles (title_prefix, title_suffix)
        - profile.gender (gender)
        - profile.birthdate (birthdate, age, date_of_death)
        - profile.birthnumber (birthnumber)
        - profile.birthplaceNationality (birthplace, birthcountry, primary_nationality, nationalities)
        - profile.maritalstatus (maritalstatus)
        - profile.addresses (addresses.*)
        - profile.idcards (idcards.*)
        - profile.paymentAccounts (paymentAccounts, paymentAccountsDetails)
        - profile.email (email)
        - profile.phonenumber (phone_number)
        - profile.updatedat (updated_at)
        - profile.legalstatus (majority, pep, limited_legal_capacity)

        Technical scopes:
        - openid
        - offline_access (the scope must be specified if a refresh_token release is required)
        - notification.claims_updated (notification service)

      security:
        - Bearer: []
      tags:
        - Identify
      responses:
        '200':
          description: 'OK'
          headers:
            traceId:
              description: Unique ID for each API call for support purposes.
              schema:
                $ref: '#/components/schemas/traceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/profile'
              examples:
                profile:
                  $ref: '#/components/examples/profile'
            application/jwt:
              schema:
                type: string
                format: binary
              example: ewoidHlwIjoiVXNlcmluZm8iLAoiYWxnIjoiSFMyNTYiCn0K.ewoic3ViIjogIjIzZjFhYzAwLTVkNTQtNDE2OS1hMjg4LTc5NGFlMmVhZDBjNCIsCiJuYW1lIjogIkphbiBOb3bDoWsiLAoiZ2l2ZW5fbmFtZSI6ICJKYW4iLAogIAkiZmFtaWx5X25hbWUiOiAiTm92w6FrIiwKICAJIm1pZGRsZV9uYW1lIjogIiIsCiAgCSJuaWNrbmFtZSI6ICJab3JybyIsCiAgCSJwcmVmZXJyZWRfdXNlcm5hbWUiOiAiSmFuIiwKIAkiZW1haWwiOiAiSi5ub3Zha0BlbWFpbC5jb20iLAogIAkiZW1haWxfdmVyaWZpZWQiOiB0cnVlLAogIAkiZ2VuZGVyIjogIm1hbGUiLAogIAkiYmlydGhkYXRlIjogIjE5NzAtMDgtMDEiLAogIAkiem9uZWluZm8iOiAiRXVyb3BlL1ByYWd1ZSIsCiAgCSJsb2NhbGUiOiAiY3NfQ1oiLAogIAkicGhvbmVfbnVtYmVyIjogIis0MjAxMjM0NTY3ODkiLAogIAkicGhvbmVfbnVtYmVyX3ZlcmlmaWVkIjogZmFsc2UsCiAidXBkYXRlZF9hdCI6IDE1NjgxODg0MzMwMDAKfQo=.cDEuITlDHi14RUEGG3cxEWoXFzZWIG46JmMWZu+/vXImNBh0QUXlgq07xbYWYzF2biUl77+9dXZ2XAEjbFg1fgEDKRXYrgUuCm8kWzNKHgQKIARNPhIBMHlbMtS9O0FmZRl5I31w07FdPC4ndUVkRBd6Dj4nWmEKe9aHHjFgAxFIUTI8bgFbPfK6lbcXLFZsWVZpKBw0MmlUPQFw
        '401':
          description: 'Unauthorized request'
          headers:
            traceId:
              description: Unique ID for each API call for support purposes.
              schema:
                $ref: '#/components/schemas/traceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              example:
                error: 'UNAUTHORIZED'
                error_description: 'Invalid/missing access token'
        '403':
          description: 'Request was forbidden'
          headers:
            traceId:
              description: Unique ID for each API call for support purposes.
              schema:
                $ref: '#/components/schemas/traceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              example:
                error: 'FORBIDDEN'
                error_description: 'Authentication with an expired access token or bearer access token having insufficient privileges'
        '429':
          $ref: '#/components/responses/TooManyRequestError'
        '500':
          description: 'Internal Server Error'
          headers:
            traceId:
              description: Unique ID for each API call for support purposes.
              schema:
                $ref: '#/components/schemas/traceId'

  /.well-known/oauth-authorization-server:
    get:
      tags:
        - Discovery
      summary: Oauth2 Authorization Server and OpenID Connect configuration discovery
      externalDocs:
        description: '[OpenID.Discovery] OpenID Connect Discovery 1.0'
        url: https://openid.net/specs/openid-connect-discovery-1_0.html
      responses:
        '200':
          description: OIDCConfiguration
          headers:
            traceId:
              description: Unique ID for each API call for support purposes.
              schema:
                $ref: '#/components/schemas/traceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OIDCConfiguration'

  /.well-known/jwks:
    get:
      description: >-
        This specific pathname is Mandatory, exact pathname has to be specified in `OIDCConfiguration.jwks_uri`.

        This endpoint returns JSON Web Keys to be used as public keys for verifying OIDC ID Tokens, responses and encrypting requests.
      tags:
        - Discovery
      summary: JSON Web Keys Discovery
      externalDocs:
        description: '[RFC7517] JSON Web Key (JWK)'
        url: https://tools.ietf.org/html/rfc7517
      responses:
        '200':
          description: JWKS
          headers:
            traceId:
              description: Unique ID for each API call for support purposes.
              schema:
                $ref: '#/components/schemas/traceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWKS'
  /csc/v2/oauth2/authorize:
    get:
      summary: CSCv2 auth request for driving application
      externalDocs:
        description: See CSCv2 specs
        url: https://cloudsignatureconsortium.org/wp-content/uploads/2023/04/csc-api-v2.0.0.2.pdf
      description: |
        This GET endpoint is a starting point for OAuth2 and OpenID Connect authorization flows.Code grant and implicit grant is supported by Authorization. Is strictly recommended to 
        use `Authorization Code` flow [RFC6749 - The OAuth 2.0 Authorization Framework - Authorization Code](https://tools.ietf.org/html/rfc6749#section-1.3.1).
        For `single-page-application` or `browser-based` apps is recommended to use `Authorization Code` flow with [PKCE - RFC7636](https://tools.ietf.org/html/rfc7636)

        This request authenticates the user and returns tokens to the client application as a part of the callback response.

        **Technical scopes** (used in the `scope` query parameter):
      tags:
        - QES Authorization Request
      parameters:
        - $ref: '#/components/parameters/auth_redirect_uri'
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_response_type'
        - $ref: '#/components/parameters/auth_nonce'
        - $ref: '#/components/parameters/auth_state'
        - $ref: '#/components/parameters/auth_scope'
        - $ref: '#/components/parameters/auth_max_age'
        - $ref: '#/components/parameters/auth_authorization_detail'

      callbacks:
        Login-Flow-Success:
          '{$request.query.redirect_uri}':
            get:
              description: |-
                In case of `response_type=code`.
                Redirect the End-User to `redirect_uri` after giving consent in Wallet's consent screen
              parameters:
                - $ref: '#/components/parameters/auth_code'
                - $ref: '#/components/parameters/auth_state'
              responses:
                '200':
                  description: Redirect successful
                  headers:
                    traceId:
                      description: Unique ID for each API call for support purposes.
                      schema:
                        $ref: '#/components/schemas/traceId'

        Error:
          '{$request.query.redirect_uri}':
            get:
              description: >-
                If the resource owner denies the access request or if the request fails for reasons **other than a missing or invalid redirection URI**,
                the authorization server informs the client by adding the following parameters to the query component of the redirection URI using the
                "application/x-www-form-urlencoded" format
              parameters:
                - $ref: '#/components/parameters/auth_error'
                - $ref: '#/components/parameters/auth_error_description'
                - $ref: '#/components/parameters/auth_error_uri'
                - $ref: '#/components/parameters/auth_state'
              responses:
                '200':
                  headers:
                    traceId:
                      description: Unique ID for each API call for support purposes.
                      schema:
                        $ref: '#/components/schemas/traceId'
                  description: Redirect successful

      responses:
        '302':
          description: |
            Authentication Response. As a response to authentication flow, the IDP will then call the client redirect_uri with an authorization code or access_token 
            (in case of successful authentication) or an error response code (if access denied, or when some other error occurred).
          headers:
            traceId:
              description: Unique ID for each API call for support purposes.
              schema:
                $ref: '#/components/schemas/traceId'
            Location:
              description: |
                Redirect response to endpoint specified in redirect_uri with parameters:
                `code` Authorization Code.
                `state` OAuth 2.0 state value. REQUIRED if the state parameter is present in the Authorization Request. Clients MUST verify that the state value is equal to the value of state parameter in the Authorization Request.
              schema:
                type: string
                format: uri
              example: |
                HTTP/1.1 302 Found
                Location: https://service.example.cz/callback?
                    code=123456
                    &state=jdpi9hu1HH
        '400':
          $ref: '#/components/responses/RequestInvalidError'
        '429':
          $ref: '#/components/responses/TooManyRequestError'
    post:
      summary: CSCv2 auth request for driving application
      externalDocs:
        description: See CSCv2 specs
        url: https://cloudsignatureconsortium.org/wp-content/uploads/2023/04/csc-api-v2.0.0.2.pdf
      description: >-
        This POST endpoint is a starting point for OAuth2 and OpenID Connect authorization flows. Code grant and implicit grant is supported by Authorization. Is strictly recommended
        to use `Authorization Code` flow [RFC6749 - The OAuth 2.0 Authorization Framework - Authorization Code](https://tools.ietf.org/html/rfc6749#section-1.3.1).
        For `single-page-application` or `browser-based` apps is recommended to use `Authorization Code` flow with [PKCE - RFC7636](https://tools.ietf.org/html/rfc7636)

        This request authenticates the user and returns tokens to the client application as a part of the callback response.
      tags:
        - QES Authorization Request
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AuthorizationRequestReq'

      callbacks:
        Login-Flow-Success:
          '{$request.query.redirect_uri}':
            get:
              description: |-
                In case of `response_type=code`.

                Redirect the End-User to `redirect_uri` after giving consent in bank's "HTML showing consent screen"
              parameters:
                - $ref: '#/components/parameters/auth_code'
                - $ref: '#/components/parameters/auth_state'
              responses:
                '200':
                  description: Redirect successful
                  headers:
                    traceId:
                      description: Unique ID for each API call for support purposes.
                      schema:
                        $ref: '#/components/schemas/traceId'
        Error:
          '{$request.query.redirect_uri}':
            get:
              description: >-
                If the resource owner denies the access request or if the request fails for reasons **other than a missing or invalid redirection URI**,
                the authorization server informs the client by adding the following parameters to the query component of the redirection URI using the
                "application/x-www-form-urlencoded" format
              parameters:
                - $ref: '#/components/parameters/auth_error'
                - $ref: '#/components/parameters/auth_error_description'
                - $ref: '#/components/parameters/auth_error_uri'
                - $ref: '#/components/parameters/auth_state'
              responses:
                '200':
                  description: Redirect successful
                  headers:
                    traceId:
                      description: Unique ID for each API call for support purposes.
                      schema:
                        $ref: '#/components/schemas/traceId'

      responses:
        '200':
          description: |
            Authentication Response. As a response to authentication flow, the IDP will then call the client 
            redirect_uri with an authorization code or access_token (in case of successful authentication) or an 
            error response code (if access denied, or when some other error occurred).
          headers:
            traceId:
              description: Unique ID for each API call for support purposes.
              schema:
                $ref: '#/components/schemas/traceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationRequestResponse'
        '400':
          $ref: '#/components/responses/RequestInvalidError'
        '429':
          $ref: '#/components/responses/TooManyRequestError'
  /csc/v2/oauth2/token:
    post:
      summary: Acquire a new set of tokens
      externalDocs:
        description: 'The OAuth 2.0 Authorization Framework'
        url: https://tools.ietf.org/html/rfc6749
      description: Token requuest for token to use CSC 2.0 API
      tags:
        - CSC Token management
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              oneOf:
                - $ref: '#/components/schemas/AuthorizationCodeTokenRequest'
              description: |-
                In case of issuing access token from authorization code:
                 - [RFC6749 - 4.1.3. Access Token Request](https://tools.ietf.org/html/rfc6749#section-4.1.3)


                PKCE and refreshing access token is not supported for now
              example:
                grant_type: authorization_code
                code: '8BFAC1DA-3F94-4BBD-A743-473080FB6073'
                redirect_uri: 'https://rp.example.com/callback'
      responses:
        '200':
          description: 'Request for token was successful'
          headers:
            traceId:
              description: Unique ID for each API call for support purposes.
              schema:
                $ref: '#/components/schemas/traceId'
            Cache-Control:
              schema:
                type: string
                enum:
                  - 'no-store'
            Pragma:
              schema:
                type: string
                enum:
                  - no-cache
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenCSCResponse'
        '400':
          $ref: '#/components/responses/TokenErrorResponse'
        '401':
          $ref: '#/components/responses/TokenErrorResponseBadCredentials'
        '429':
          $ref: '#/components/responses/TooManyRequestError'
        '500':
          description: 'Internal Server Error'
          headers:
            traceId:
              description: Unique ID for each API call for support purposes.
              schema:
                $ref: '#/components/schemas/traceId'
  /csc/v2/signatures/signHash:
    post:
      summary: CSCv2 auth request for driving application
      externalDocs:
        description: 'Bank iD OpenId Connect Authentication request'
        url: 'https://developer.bankid.cz/docs/apis_sep#authorization-api'
      description: >-
        This POST endpoint is a starting point for OAuth2 and OpenID Connect authorization flows. Code grant and implicit grant is supported by Authorization. Is strictly recommended
        to use `Authorization Code` flow [RFC6749 - The OAuth 2.0 Authorization Framework - Authorization Code](https://tools.ietf.org/html/rfc6749#section-1.3.1).
        For `single-page-application` or `browser-based` apps is recommended to use `Authorization Code` flow with [PKCE - RFC7636](https://tools.ietf.org/html/rfc7636)

        This request authenticates the user and returns tokens to the client application as a part of the callback response.
      tags:
        - QES Sign Hash
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignHashRequest'
      responses:
        '200':
          headers:
            traceId:
              description: Unique ID for each API call for support purposes.
              schema:
                $ref: '#/components/schemas/traceId'
          description: Returs signed hashes in order which were sent on input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignHashRequest'
        '400':
          $ref: '#/components/schemas/RequestInvalidError'
  /issuer/credentialOffer:
    summary: Link to Credential offer
    get:
      externalDocs:
        description: 'Bank iD OpenId Connect Authentication request'
        url: 'https://developer.bankid.cz/docs/apis_sep#authorization-api'
      tags:
        - Credential Issuance
      responses:
        '200':
          description: |
            Authentication Response. As a response to authentication flow, the IDP will then call the client 
            redirect_uri with an authorization code or access_token (in case of successful authentication) or an 
            error response code (if access denied, or when some other error occurred).
          headers:
            traceId:
              description: Unique ID for each API call for support purposes.
              schema:
                $ref: '#/components/schemas/traceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialOfferResponse'

  /issuer/.well-known/openid-credential-metadata:
    summary: Metadata for Credential issuance
    get:
      externalDocs:
        description: 'Bank iD OpenId Connect Authentication request'
        url: 'https://developer.bankid.cz/docs/apis_sep#authorization-api'
      tags:
        - Credential Issuance
      responses:
        '200':
          description: |
            Authentication Response. As a response to authentication flow, the IDP will then call the client 
            redirect_uri with an authorization code or access_token (in case of successful authentication) or an 
            error response code (if access denied, or when some other error occurred).
          headers:
            traceId:
              description: Unique ID for each API call for support purposes.
              schema:
                $ref: '#/components/schemas/traceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialMetadataResponse'

  /issuer/oauth2/authorize:
    get:
      summary: Begin the Bank iD authentication flow
      externalDocs:
        description: 'Bank iD OpenId Connect Authentication request'
        url: 'https://developer.bankid.cz/docs/apis_sep#authorization-api'
      description: |
        This GET endpoint is a starting point for OAuth2 and OpenID Connect authorization flows.Code grant and implicit grant is supported by Authorization. Is strictly recommended to 
        use `Authorization Code` flow [RFC6749 - The OAuth 2.0 Authorization Framework - Authorization Code](https://tools.ietf.org/html/rfc6749#section-1.3.1).
        For `single-page-application` or `browser-based` apps is recommended to use `Authorization Code` flow with [PKCE - RFC7636](https://tools.ietf.org/html/rfc7636)

        This request authenticates the user and returns tokens to the client application as a part of the callback response.

        **Technical scopes** (used in the `scope` query parameter):
        - openid  
        - offline_access (the scope must be specified if a refresh_token release is required)

      tags:
        - Credential Issuance
      parameters:
        - $ref: '#/components/parameters/auth_redirect_uri'
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_response_type'
        - $ref: '#/components/parameters/auth_nonce'
        - $ref: '#/components/parameters/auth_state'
        - $ref: '#/components/parameters/auth_scope'


      callbacks:
        Login-Flow-Success:
          '{$request.query.redirect_uri}':
            get:
              description: |-
                In case of `response_type=code`.
                Redirect the End-User to `redirect_uri` after giving consent in Wallet's consent screen
              parameters:
                - $ref: '#/components/parameters/auth_code'
                - $ref: '#/components/parameters/auth_state'
              responses:
                '200':
                  description: Redirect successful
                  headers:
                    traceId:
                      description: Unique ID for each API call for support purposes.
                      schema:
                        $ref: '#/components/schemas/traceId'

        Error:
          '{$request.query.redirect_uri}':
            get:
              description: >-
                If the resource owner denies the access request or if the request fails for reasons **other than a missing or invalid redirection URI**,
                the authorization server informs the client by adding the following parameters to the query component of the redirection URI using the
                "application/x-www-form-urlencoded" format
              parameters:
                - $ref: '#/components/parameters/auth_error'
                - $ref: '#/components/parameters/auth_error_description'
                - $ref: '#/components/parameters/auth_error_uri'
                - $ref: '#/components/parameters/auth_state'
              responses:
                '200':
                  headers:
                    traceId:
                      description: Unique ID for each API call for support purposes.
                      schema:
                        $ref: '#/components/schemas/traceId'
                  description: Redirect successful

      responses:
        '302':
          description: |
            Authentication Response. As a response to authentication flow, the IDP will then call the client redirect_uri with an authorization code or access_token 
            (in case of successful authentication) or an error response code (if access denied, or when some other error occurred).
          headers:
            traceId:
              description: Unique ID for each API call for support purposes.
              schema:
                $ref: '#/components/schemas/traceId'
            Location:
              description: |
                Redirect response to endpoint specified in redirect_uri with parameters:
                `code` Authorization Code.
                `state` OAuth 2.0 state value. REQUIRED if the state parameter is present in the Authorization Request. Clients MUST verify that the state value is equal to the value of state parameter in the Authorization Request.
              schema:
                type: string
                format: uri
              example: |
                HTTP/1.1 302 Found
                Location: https://service.example.cz/callback?
                    code=123456
                    &state=jdpi9hu1HH
        '400':
          $ref: '#/components/responses/RequestInvalidError'
        '429':
          $ref: '#/components/responses/TooManyRequestError'

    post:
      summary: Begin the Bank iD authentication flow
      externalDocs:
        description: 'Bank iD OpenId Connect Authentication request'
        url: 'https://developer.bankid.cz/docs/apis_sep#authorization-api'
      description: >-
        This POST endpoint is a starting point for OAuth2 and OpenID Connect authorization flows. Code grant and implicit grant is supported by Authorization. Is strictly recommended
        to use `Authorization Code` flow [RFC6749 - The OAuth 2.0 Authorization Framework - Authorization Code](https://tools.ietf.org/html/rfc6749#section-1.3.1).
        For `single-page-application` or `browser-based` apps is recommended to use `Authorization Code` flow with [PKCE - RFC7636](https://tools.ietf.org/html/rfc7636)

        This request authenticates the user and returns tokens to the client application as a part of the callback response.
      tags:
        - Credential Issuance
      requestBody: 
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AuthorizationRequestReq'
      callbacks:
        Login-Flow-Success:
          '{$request.query.redirect_uri}':
            get:
              description: |-
                In case of `response_type=code`.

                Redirect the End-User to `redirect_uri` after giving consent in bank's "HTML showing consent screen"
              parameters:
                - $ref: '#/components/parameters/auth_code'
                - $ref: '#/components/parameters/auth_state'
              responses:
                '200':
                  description: Redirect successful
                  headers:
                    traceId:
                      description: Unique ID for each API call for support purposes.
                      schema:
                        $ref: '#/components/schemas/traceId'
        Error:
          '{$request.query.redirect_uri}':
            get:
              description: >-
                If the resource owner denies the access request or if the request fails for reasons **other than a missing or invalid redirection URI**,
                the authorization server informs the client by adding the following parameters to the query component of the redirection URI using the
                "application/x-www-form-urlencoded" format
              parameters:
                - $ref: '#/components/parameters/auth_error'
                - $ref: '#/components/parameters/auth_error_description'
                - $ref: '#/components/parameters/auth_error_uri'
                - $ref: '#/components/parameters/auth_state'
              responses:
                '200':
                  description: Redirect successful
                  headers:
                    traceId:
                      description: Unique ID for each API call for support purposes.
                      schema:
                        $ref: '#/components/schemas/traceId'

      responses:
        '200':
          description: |
            Authentication Response. As a response to authentication flow, the IDP will then call the client 
            redirect_uri with an authorization code or access_token (in case of successful authentication) or an 
            error response code (if access denied, or when some other error occurred).
          headers:
            traceId:
              description: Unique ID for each API call for support purposes.
              schema:
                $ref: '#/components/schemas/traceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationRequestResponse'
        '400':
          $ref: '#/components/responses/RequestInvalidError'
        '429':
          $ref: '#/components/responses/TooManyRequestError'

  /issuer/oauth2/token:
    post:
      summary: Acquire a new set of tokens
      externalDocs:
        description: 'The OAuth 2.0 Authorization Framework'
        url: https://tools.ietf.org/html/rfc6749
      description: Token requuest for token to use CSC 2.0 API
      tags:
        - Credential Issuance
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              oneOf:
                - $ref: '#/components/schemas/AuthorizationCodeTokenRequest'
              description: |-
                In case of issuing access token from authorization code:
                 - [RFC6749 - 4.1.3. Access Token Request](https://tools.ietf.org/html/rfc6749#section-4.1.3)


                PKCE and refreshing access token is not supported for now
              example:
                grant_type: authorization_code
                code: '8BFAC1DA-3F94-4BBD-A743-473080FB6073'
                redirect_uri: 'https://rp.example.com/callback'
      responses:
        '200':
          description: 'Request for token was successful'
          headers:
            traceId:
              description: Unique ID for each API call for support purposes.
              schema:
                $ref: '#/components/schemas/traceId'
            Cache-Control:
              schema:
                type: string
                enum:
                  - 'no-store'
            Pragma:
              schema:
                type: string
                enum:
                  - no-cache
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenCSCResponse'
        '400':
          $ref: '#/components/responses/TokenErrorResponse'
        '401':
          $ref: '#/components/responses/TokenErrorResponseBadCredentials'
        '429':
          $ref: '#/components/responses/TooManyRequestError'
        '500':
          description: 'Internal Server Error'
          headers:
            traceId:
              description: Unique ID for each API call for support purposes.
              schema:
                $ref: '#/components/schemas/traceId'
  /issuer/credentials:
    post:
      summary: Acquire a new set of tokens
      externalDocs:
        description: 'The OAuth 2.0 Authorization Framework'
        url: https://tools.ietf.org/html/rfc6749
      description: Token requuest for token to use CSC 2.0 API
      tags:
        - Credential Issuance
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              oneOf:
                - $ref: '#/components/schemas/AuthorizationCodeTokenRequest'
              description: |-
                In case of issuing access token from authorization code:
                 - [RFC6749 - 4.1.3. Access Token Request](https://tools.ietf.org/html/rfc6749#section-4.1.3)

                PKCE and refreshing access token is not supported for now
              example:
                grant_type: authorization_code
                code: '8BFAC1DA-3F94-4BBD-A743-473080FB6073'
                redirect_uri: 'https://rp.example.com/callback'
      responses:
        '200':
          description: 'Request for token was successful'
          headers:
            traceId:
              description: Unique ID for each API call for support purposes.
              schema:
                $ref: '#/components/schemas/traceId'
            Cache-Control:
              schema:
                type: string
                enum:
                  - 'no-store'
            Pragma:
              schema:
                type: string
                enum:
                  - no-cache
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenCSCResponse'
        '400':
          $ref: '#/components/responses/TokenErrorResponse'
        '401':
          $ref: '#/components/responses/TokenErrorResponseBadCredentials'
        '429':
          $ref: '#/components/responses/TooManyRequestError'
        '500':
          description: 'Internal Server Error'
          headers:
            traceId:
              description: Unique ID for each API call for support purposes.
              schema:
                $ref: '#/components/schemas/traceId'

components:
  headers:
    location:
      schema:
        type: string
      description: >
        Location of redirect returned in HTTP 302 response for end user.
      example: www.bankd.cz/callback?sid=123456&state=abcdef

  parameters:
    txn:
      in: query
      name: txn
      description: The txn Claim as defined in [RFC8417] is used in the context of this extension to build audit trails across the parties involved in an OpenID Connect transaction.
      example: 5fo70547-0f7f-4794-acb0-d959f5a899a6
      schema:
        type: string
    document_id:
      name: document_id
      in: query
      required: false
      description: >-
        Id of document included in custom PDF metadata. This attribute must be included in PDF metadata under ```documentId``` key.
      schema:
        type: string
        example: '7159534b-3b88-4f29-866b-9e83489d3053'
    file_token:
      name: file_token
      in: path
      required: true
      description: >-
        Unique ID for distinguishing different file paths for different processes. It is returend by Bank iD in upload_uri
      schema:
        type: string
        example: '7159534b-3b88-4f29-866b-9e83489d3053'
    redirect_uri:
      name: redirect_uri
      in: query
      description: URL for end-user redirect to authorization server
      schema:
        type: string
        example: https://client.example.org/request.jwt#GkurKxf5T0Y-mnPFCHqWOMiZi4VS138cQO_V7PZHAdM
    auth_scope:
      in: query
      required: true
      name: scope
      description: >-
        OpenID Connect requests SHOULD contain the openid scope value. 
        If the openid scope value is not present, id_token will not be returned and userinfo will not return sub claim. 
        Other scope values MAY be present. 
        Scope values used that are not understood by an implementation SHOULD be ignored. 
        See Sections 5.4 and 11 for additional scope values defined by this specification.
      schema:
        type: string
        example: 'openid profile.name profile.addresses'
    auth_response_type:
      name: response_type
      in: query
      required: true
      description: >-
        OAuth 2.0 Response Type value that determines the authorization processing flow to be used,
        including what parameters are returned from the endpoints used. For [Authorization Code Flow](https://tools.ietf.org/html/rfc6749#section-1.3.1) use `code`.
        Implicit flow is not supported, use PKCE instead.
      schema:
        type: array
        maxItems: 1
        items:
          type: string
          enum:
            - code
    auth_client_id:
      name: client_id
      in: query
      required: true
      description: OAuth 2.0 Client Identifier valid at the Authorization Server.
      schema:
        type: string
        example: 'D40D25DB-C330-4331-A191-0A4F6CCD17D8'
    auth_redirect_uri:
      name: redirect_uri
      required: true
      in: query
      description: >-
        Redirection URI to which the response will be sent. This URI MUST exactly match one of the Redirection URI values for the Client pre-registered
        at the OpenID Provider, with the matching performed as described in Section 6.2.1 of [RFC3986] (Simple String Comparison). When using this flow, the Redirection URI MUST use the https 
        scheme; however, it MAY use the http scheme for sandbox, provided that the Client Type is confidential, as defined in Section 2.1 of OAuth 2.0, and provided the OP allows the use of http Redirection 
        URIs in this case. The Redirection URI MAY use an alternate scheme, such as one that is intended to identify a callback into a native application.
      schema:
        type: string
        format: uri
        example: 'https://rp.example.com/callback'
    auth_state:
      name: state
      required: true
      in: query
      description: >-
        Opaque value used to maintain state between the request and the callback. Typically, Cross-Site Request Forgery (CSRF, XSRF) mitigation is done by cryptographically 
        binding the value of this parameter with a browser cookie.
      schema:
        type: string
        example: 'security_token%3DXlwuwppIWL9F32SZDULd%26url%3Dhttps%3A%2F%2Frp.example.com%2Estate&'
    auth_session_state:
      name: session_state
      in: query
      required: true
      description: Session State. JSON [RFC7159] string that represents the End-User's login state at the OP. It MUST NOT contain the space (" ") character. This value is opaque to the RP.
      schema:
        type: string
        example: 3cf56e5d-40b0-45b5-a329-8c27741947b4
    auth_authorization_detail:
      name: authorization_detail
      in: query
      required: false
      description: Authorization detail object according to Rich Authorization Request RFC and CSC v2 API
    end_session_post_logout_redirect_uri:
      name: post_logout_redirect_uri
      in: query
      description: URL to which the RP is requesting that the End-User's User Agent be redirected after a logout has been performed. The value MUST have been previously registered with the OP.
      schema:
        type: string
        format: uri
      example: https://rp.example.org/logout
    auth_code:
      name: code
      in: query
      description: >-
        The authorization code generated by the authorization server.  The authorization code MUST expire
        shortly after it is issued to mitigate the risk of leaks.  A maximum authorization code lifetime of 10 minutes is
        RECOMMENDED.  The client MUST NOT use the authorization code more than once.  If an authorization code is used more than
        once, the authorization server MUST deny the request and SHOULD revoke (when possible) all tokens previously issued based on
        that authorization code.  The authorization code is bound to the client identifier and redirection URI.
      schema:
        type: string
        example: '43F8E043-6AD8-4154-AC48-019AE65D9F7C'
    auth_id_token:
      name: id_token
      in: query
      required: true
      description: >-
        ID Token in format [IDToken]('#/components/schemas/IDToken')
      schema:
        type: string
        example: 'MIICUDCCAbmgAwIBAgIBADANBgkqhkiG9w0BAQsFADBFMQswCQYDVQQGEwJjejEOMAwGA1UECAwFUHJhaGExEDAOBgNVBAoMB0V4YW1wbGUxFDASBgNVBAMMC2V4YW1wbGUuY29tMB4XDTIwMDExNjE2NDExOFoXDTIxMDExNTE2NDExOFowRTELMAkGA1UEBhMCY3oxDjAMBgNVBAgMBVByYWhhMRAwDgYDVQQKDAdFeGFtcGxlMRQwEgYDVQQDDAtleGFtcGxlLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEArOEYBRyBhcd6u3phrbU2xvTaBoy6W14CpqqfsBrfsUsuSB+JELBCj3a+zRIvy4EY9cnQbF7cPNxbXdCbGEokAUjIIuVBk/I6XhKRe01vlax82o+eFfIhUfl7Xb2Bx9U3m98Qbt3WNrv+VYJjjFP8HWSsWCHKCazj+yvozjuFXUsCAwEAAaNQME4wHQYDVR0OBBYEFN5SUrsStd4aLhBs+MWGRDxLeUP4MB8GA1UdIwQYMBaAFN5SUrsStd4aLhBs+MWGRDxLeUP4MAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQELBQADgYEAL59fE6itiRrck6Z7RCjwnOnebQJxpoB/L7TUC/aUIXss40mCviBVKD+Hl4+3sGyp4J2LlzzqhFcPgR9NyxQt0bkahJGH0UXvZETJe719UA0kGFrPMdt6ujwB6/rafT6TinzXN0lEEGikersTrh3BR9Hjw+v7nCQ0D5RfuDn6s5s='
    auth_expires_in:
      name: expires_in
      in: query
      required: true
      description: >-
        The lifetime in seconds of the access token.  For example, the value "3600" denotes that the access token will expire in one hour from the time the response was generated.
      schema:
        type: number
        example: 3600
    auth_response_mode:
      name: response_mode
      in: query
      description: >-
        Informs the Authorization Server of the mechanism to be used for returning parameters from the Authorization Endpoint. This use of this parameter is NOT RECOMMENDED when the Response 
        Mode that would be requested is the default mode specified for the Response Type.
      schema:
        type: string
        enum:
          - query
        example: 'query'
    auth_nonce:
      name: nonce
      required: true
      in: query
      description: >-
        String value used to associate a Client session with an ID Token, and to mitigate replay attacks. 
        The value is passed through unmodified from the Authentication Request to the ID Token. 
        Sufficient entropy MUST be present in the nonce values used to prevent attackers from guessing values. For implementation notes, see Section 15.5.2.
      schema:
        type: string
        example: 'nxrt-084-222_wdutKuOasdj'

    auth_max_age:
      name: max_age
      required: false
      in: query
      description: >-
        Maximum possible Authentication Age. Specifies the allowable elapsed time in seconds since the last time the OP 
        actively authenticated the End-User. Default value is 600 seconds.

        This parameter is not intended to request the length of validity of issued tokens. Currently, some IDPs do not 
        support this parameter, and the current authentication validity period is limited only by the validity of the tokens.

        The validity of Bank iD tokens is listed here 
        [Tokens used in the Bank iD solution](https://developer.bankid.cz/docs/apis_sep#tokens-used-in-the-bankid-solution)
      schema:
        type: integer
        format: int64
        example: '6000'
    auth_ui_locales:
      name: ui_locales
      in: query
      description: >-
        End-User's preferred languages and scripts for the user interface, represented as a space-separated list of BCP47 [RFC5646] language tag values, ordered by preference. 
        For instance, the value "fr-CA fr en" represents a preference for French as spoken in Canada, then French (without a region designation), followed by English 
        (without a region designation). An error SHOULD NOT result if some or all of the requested locales are not supported by the OpenID Provider.
      schema:
        type: string
        example: 'fr-CA.UTF-8'
    auth_credential_format:
      name: credential_format
      in: query
      description: >- 
        Requested format of credentials to be retrieved from  Wallet. This is only supported in development and will be removed in final version
      schema:
        type: string
        enum:
          - SD_JWT
          - MDOC
          - ANY
    auth_wallet_profile:
      name: profile
      in: query
      description: >-
        Request profile of OpenID for Verifiable Credentials. This is only supported in development and LSP testing. Will be removed for production environment.
      schema:
        type: string
    auth_authorization_details:
      name: authorization_details
      in: query
      description: >-
        URL encoded JSON that contains authorization details object with defined structure (Payments, Document Signature). 
        This object is then propagated to Wallet via transaction_data flield in OpenID 4 VP specs.
      schema:
        type: string
    auth_id_token_hint:
      name: id_token_hint
      in: query
      required: false
      description: >-
        ID Token previously issued by the Authorization Server being passed as a hint about the End-User's current or past authenticated session with the Client. If the End-User 
        identified by the ID Token is logged in or is logged in by the request, then the Authorization Server returns a positive response; otherwise, it SHOULD return an error, 
        such as login_required. When possible, an id_token_hint SHOULD be present when prompt=none is used and an invalid_request error MAY be returned if it is not; 
        however, the server SHOULD respond successfully when possible, even if it is not present. The Authorization Server need not be listed as an audience of the ID Token when 
        it is used as an id_token_hint value.
      schema:
        type: string
        example: 'eyJhbGciOiJSUzI1NiIsImtpZCI6IjdlOGFkZmMzMjU1OTEyNzI0ZDY4NWZmYmIwOThjNDEyIiwidHlwIjoiSldUIn0.eyJuYmYiOjE0OTE3NjUzMjEsImV4cCI6MTQ5MTc2'
    logout_id_token_hint:
      name: id_token_hint
      in: query
      required: true
      description: >-
        ID Token previously issued by the Authorization Server being passed as a hint about the End-User's current or past authenticated session with the Client. If the End-User 
        identified by the ID Token is logged in or is logged in by the request, then the Authorization Server returns a positive response; otherwise, it SHOULD return an error, 
        such as login_required. When possible, an id_token_hint SHOULD be present when prompt=none is used and an invalid_request error MAY be returned if it is not; 
        however, the server SHOULD respond successfully when possible, even if it is not present. The Authorization Server need not be listed as an audience of the ID Token when 
        it is used as an id_token_hint value.
      schema:
        type: string
        example: 'eyJhbGciOiJSUzI1NiIsImtpZCI6IjdlOGFkZmMzMjU1OTEyNzI0ZDY4NWZmYmIwOThjNDEyIiwidHlwIjoiSldUIn0.eyJuYmYiOjE0OTE3NjUzMjEsImV4cCI6MTQ5MTc2'
    auth_acr_values:
      name: acr_values
      in: query
      description: >-
        The parameter represents the required authentication level. The application should only request values configured in the developer portal (**Enable 2FA by default** switch in configuration)

        The values determine the level of authentication as well as the possible use of authentication factors.
        The value of ```loa4``` corresponds to authentication
        using two independent verification factors (2FA or also SCA) in Wallet with assurance level on par with assurance level high
      schema:
        type: string
        default: loa4
        enum:
          - loa4
        example: 'loa4'
    auth_error:
      name: error
      in: query
      description: >-
        - invalid_request -
              The request is missing a required parameter, includes an invalid parameter value, includes a parameter more than
              once, or is otherwise malformed.

        - unauthorized_client -
              The client is not authorized to request an authorization code using this method.

        - access_denied -
              The resource owner or authorization server denied the request.

        - unsupported_response_type -
              The authorization server does not support obtaining an authorization code using this method.

        - invalid_scope -
              The requested scope is invalid, unknown, or malformed.

        - server_error -
              The authorization server encountered an unexpected condition that prevented it from fulfilling the request.
              (This error code is needed because a 500 Internal Server Error HTTP status code cannot be returned to the client
              via an HTTP redirect.)

        - temporarily_unavailable -
              The authorization server is currently unable to handle the request due to a temporary overloading, maintenance
              of the server or planned downtime of Basic Registers.  (This error code is needed because a 503 Service Unavailable HTTP status code cannot be returned
              to the client via an HTTP redirect.)

        - interaction_required -
              The Authorization Server requires End-User interaction of some form to proceed. This error MAY be returned when the prompt
              parameter value in the Authentication Request is none, but the Authentication Request cannot be completed without displaying a
              user interface for End-User interaction.

        - login_required -
              The Authorization Server requires End-User authentication. This error MAY be returned when the prompt parameter value in 
              the Authentication Request is none, but the Authentication Request cannot be completed without displaying a user interface for End-User 
              authentication.

        - account_selection_required -
              The End-User is REQUIRED to select a session at the Authorization Server. The End-User MAY be authenticated at the Authorization 
              Server with different associated accounts, but the End-User did not select a session. This error MAY be returned when the prompt 
              parameter value in the Authentication Request is none, but the Authentication Request cannot be completed without displaying a 
              user interface to prompt for a session to use.

        - consent_required -
              The Authorization Server requires End-User consent. This error MAY be returned when the prompt parameter value in the 
              Authentication Request is none, but the Authentication Request cannot be completed without displaying a user interface for 
              End-User consent.

        - invalid_request_uri -
              The request_uri in the Authorization Request returns an error or contains invalid data.

        - invalid_request_object -
              The request parameter contains an invalid Request Object.

        - request_not_supported -
              The OP does not support use of the request parameter defined in Section 6.

        - request_uri_not_supported -
              The OP does not support use of the request_uri parameter defined in Section 6.

        - registration_not_supported -
              The OP does not support use of the registration parameter defined in Section 7.2.1.
        - eid_doesnt_exist
              The end-user cannot proceed with authentication since they don't have valid eID service. 
        - sign_error
              The signing of the document(s) encountered an error or document(s) contains invalid data or code was already used.
        - user_not_eligible
              Service cannot be provided due to age restriction, legal capacity or authentication method used by the user doesn't meet security level required by IdP.
        - auth_failed
              Code was already used in Authentication flow.
        - insufficient_scope
              SIGN service cannot be provided due to various required scopes missing in data from IdP.
        -  basic_registers_unavaiable
              QSIGN service cannot be provided during maintenance of Basic Registers.
    polling_session_id:
      name: session_id
      required: true
      in: query
      description: >-
        String value used to associate a user agent session with authorization request. 
        Internally same id is used as state for request to Wallet.
      example: 'nxrt-084-222_wdutKuOasdj'

      schema:
        externalDocs:
          description: '[RFC6749] - The OAuth 2.0 Authorization Framework - Authentication Error Codes 4.1.2.1'
          url: https://tools.ietf.org/html/rfc6749#section-4.1.2.1
        type: string
        enum:
          - invalid_request
          - unauthorized_client
          - access_denied
          - unsupported_response_type
          - invalid_scope
          - server_error
          - temporarily_unavailable
          - interaction_required
          - login_required
          - account_selection_required
          - consent_required
          - invalid_request_uri
          - invalid_request_object
          - request_not_supported
          - request_uri_not_supported
          - registration_not_supported
          - eid_doesnt_exist
          - sign_error
          - user_not_eligible
          - auth_failed
          - insufficient_scope
          - basic_registers_unavaiable
        example: invalid_request
    auth_error_description:
      name: error_description
      in: query
      description: >-
        Human-readable ASCII [USASCII] text providing additional information, used to assist the client developer in understanding the error that occurred.
        Values for the "error_description" parameter MUST NOT include characters outside the set %x20-21 / %x23-5B / %x5D-7E.
      schema:
        type: string
        example: General server error
    auth_error_uri:
      name: error_uri
      in: query
      description: >-
        URI identifying a human-readable web page with information about the error, used to provide the client
        developer with additional information about the error. Values for the "error_uri" parameter MUST conform to the
        URI-reference syntax and thus MUST NOT include characters outside the set %x21 / %x23-5B / %x5D-7E.
      schema:
        type: string
        format: uri
        example: https://idp.example.com/error123
    request_uri:
      name: request_uri
      in: query
      description: >-
        This parameter enables OpenID Connect requests to be passed by reference, rather than by value.
        The `request_uri` value is a URL using the https scheme referencing a resource containing a Request Object value, which is a JWT containing the request parameters.
      schema:
        type: string
        format: uri
        example: 'https://rp.example.com/request/13CACDFD-884C-4E57-B78D-90B69A96C86A.jwt'
    auth_claims:
      name: claims
      in: query
      deprecated: true
      required: false
      description: >
        List of requested Claims from userinfo EP or id_token. Standard Claims defined in [OpenID Core - Claims](https://openid.net/specs/openid-connect-core-1_0.html#Claims)
      schema:
        type: object
        properties:
          userinfo:
            $ref: '#/components/schemas/request_claims_param'
          id_token:
            $ref: '#/components/schemas/request_claims_param'
    auth_bank_id:
      name: bank_id
      in: query
      description: >-
        Bank ID acquired from the Bank Listing API. This is used to skip the bank selection screen and redirect the end-user straight to the Bank.
      schema:
        type: string
        example: 1441860F-61D9-4A40-B634-EF741ADCB0A7
    banks_client_id:
      name: client_id
      in: query
      required: false
      description: OAuth 2.0 Client Identifier valid at the Authorization Server.
      schema:
        type: string
        example: D40D25DB-C330-4331-A191-0A4F6CCD17D8
    callback_vp_token:
      name: vp_token
      in: query
      required: false
      description: |
        SON String or JSON object that MUST contain a single Verifiable Presentation or an array of JSON Strings and JSON objects 
        each of them containing a Verifiable Presentations. 
        Each Verifiable Presentation MUST be represented as a JSON string (that is a Base64url encoded value) 
        or a JSON object depending on a format as defined in Annex E of [OpenID.VCI]. 
        When a single Verifiable Presentation is returned, the array syntax MUST NOT be used. 
        If Appendix E of [OpenID.VCI] defines a rule for encoding the respective Credential format in the Credential Response, 
        this rules MUST also be followed when encoding Credentials of this format in the vp_token response parameter. 
        Otherwise, this specification does not require any additional encoding 
        when a Credential format is already represented as a JSON object or a JSON string.
    callback_presentation_submission:
      name: presentation_submission
      in: query
      required: false
      description: |
        The presentation_submission element as defined in [DIF.PresentationExchange]. 
        It contains mappings between the requested Verifiable Credentials and where to find them within the returned VP Token. 
        This is expressed via elements in the descriptor_map array, known as Input Descriptor Mapping Objects. 
        These objects contain a field called path, which, for this specification, 
        MUST have the value $ (top level root path) when only one Verifiable Presentation is contained in the VP Token, 
        and MUST have the value $[n] (indexed path from root) when there are multiple Verifiable Presentations, 
        where n is the index to select. 
        The path_nested object inside an Input Descriptor Mapping Object is used to describe how to find 
        a returned Credential within a Verifiable Presentation, and the value of the path field in it will ultimately depend 
        on the credential format.
    callback_id_token:
      name: id_token
      in: query
      required: false
  requestBodies:
    RevocationRequest:
      required: true
      content:
        application/jwt:
          schema:
            type: object
            required:
              - token
            properties:
              token:
                description: The token that the client wants to get revoked.
                type: string
              token_type_hint:
                description: >-
                  A hint about the type of the token submitted for revocation.  Clients MAY pass this parameter in order to help the authorization server to optimize the token
                  lookup.  If the server is unable to locate the token using the given hint, it MUST extend its search across all of its supported token types.  An authorization server MAY ignore
                  this parameter, particularly if it is able to detect the token type automatically.
                type: string
                enum:
                  - access_token
                  - refresh_token

  schemas:
    AccessTokenResponse:
      description:
        The authorization server issues an access token and optional refresh token, and constructs the response by adding the following parameters
        to the entity-body of the HTTP response with a 200 (OK) status code.
      externalDocs:
        description: '[RFC6749] - The OAuth 2.0 Authorization Framework: - 5.1.  Successful Response'
        url: https://tools.ietf.org/html/rfc6749#section-5.1
      required:
        - access_token
        - token_type
        - refresh_token
        - expires_in
        - id_token
      properties:
        access_token:
          description: 'Tz  e access token issued by the authorization server.'
          type: string
          example: 'c03e9z  7c-aa96-4b3f-ad0c-98626833145d'
        token_type:
          description: 'Tz  e type of the token issued. Value is case insensitive.'
          type: string
          enum:
            - Bearer
          example: 'Bearez  '
        refresh_token:
          description: 'Tz  e refresh token, which can be used to obtain new access tokens using the same authorization grant.'
          type: string
          example: '1f703z  5f-75da-4b58-a1b0-e315700e4227'
        expires_in:
          description: 'Tz  e lifetime in seconds of the access token.  For example, the value "3600" denotes that the access token will expire in one hour from the time the response was generated.'
          type: integer
          format: int64
          example: 6000
        scope:
          description: 'If scope are not identical as requested by client.'
          type: string
          example: 'openid offline_access profile.addresses'
        id_token:
          description: 'ID Token value associated with the authenticated session. It is strongly suggested to not limit the size of token.'
          type: string
          format: JWT
          example: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c'
        authorization_detail:
          description: 'Processed transaction data passed to Wallet API in /auth request. Same encoded JSON as string is returned here as result of authorization in Wallet'
          type: string
          format: encodedJson
    AccessTokenCSCResponse:
      description:
        The authorization server issues an access token and optional refresh token, and constructs the response by adding the following parameters
        to the entity-body of the HTTP response with a 200 (OK) status code.
      externalDocs:
        description: '[RFC6749] - The OAuth 2.0 Authorization Framework: - 5.1.  Successful Response'
        url: https://tools.ietf.org/html/rfc6749#section-5.1
      required:
        - access_token
        - token_type
        - refresh_token
        - expires_in
        - id_token
        - authorization_detail
      properties:
        access_token:
          description: 'Tz  e access token issued by the authorization server.'
          type: string
          example: 'c03e9z  7c-aa96-4b3f-ad0c-98626833145d'
        token_type:
          description: 'Tz  e type of the token issued. Value is case insensitive.'
          type: string
          enum:
            - Bearer
          example: 'Bearer'
        expires_in:
          description: 'Tz  e lifetime in seconds of the access token.  For example, the value "3600" denotes that the access token will expire in one hour from the time the response was generated.'
          type: integer
          format: int64
          example: 6000
        scope:
          description: 'If scope are not identical as requested by client.'
          type: string
          example: 'openid offline_access profile.addresses'
        authorization_detail:
          type: object
          description: authorization_detail from  auth request
    AuthorizationRequestReq:
      properties:
        client_id:
          $ref: '#/components/parameters/auth_client_id'
        response_type:
          $ref: '#/components/parameters/auth_response_type'
        nonce:
          $ref: '#/components/parameters/auth_nonce'
        state:
          $ref: '#/components/parameters/auth_state'
        scope:
          $ref: '#/components/parameters/auth_scope'
        max_age:
          $ref: '#/components/parameters/auth_max_age'
        authorization_detail:
          $ref: '#/components/parameters/auth_authorization_detail'

    AuthorizationRequestResponse:
      properties:
        request_url:
          description: 'URL for authorization request for SIPOv2 and OIDC4VC in Wallet'
          type: string
          example: 'https://wallet.bankid.cz/request.jwt'
        polling_session_id:
          description: Id for polling of authorization status
          type: string
          example: jbounipvnn
    CredentialOfferResponse:
      properties:
        credential_issuer:
          description: 'URL for Credential Issuer to Wallet'
          type: string
          example: 'https://wallet.stage.bankid.cz/request.jwt'
        credential_configuration_ids:
          description: vct, namespaces or scopes
          type: array
          example: [ IBAN, 'eu.europa.eudi.IBAN' ]
        grants:
          type: object
          properties:
            authorization_code:
              type: object
              properties:
                authorization_server:
                  type: string
            'urn:ietf:params:oauth:grant-type:pre-authorized_code':
              type: object
              properties:
                pre-authorized_code:
                  type: string
                authorization_server:
                  type: string
    CredentialMetadataResponse:
      $ref: '#/definitions/CredentialMetadataObject'
    
    
    Display:
      properties:
        name:
          type: string
        locale:
          type: string
        logo:
          type: object
          properties:
            uri:
              type: string
            alt_text:
              type: string
    
    PollingResponse:
      required:
        - status
      properties:
        status:
          type: string
          enum:
            - IN_PROGRESS
            - DONE
        state:
          type: string
          description: State from request
    name:
      type: string
      description: End-User's full name in displayable form including all name parts, possibly including titles and suffixes, ordered according to the End-User's locale and preferences.
      example: Jan Novák

    title_prefix:
      type: string
      description: User's title prefix
      example: Ing.

    title_suffix:
      type: string
      description: User`s title suffix
      example: Jr.

    given_name:
      type: string
      description:
        Given name(s) or first name(s) of the End-User. Note that in some cultures, people can have multiple given names; all can
        be present, with the names being separated by space characters.
      example: Jan

    family_name:
      type: string
      description:
        Surname(s) or last name(s) of the End-User. Note that in some cultures, people can have multiple family names or no family
        name; all can be present, with the names being separated by space characters.
      example: Novák

    middle_name:
      type: string
      description:
        Middle name(s) of the End-User. Note that in some cultures, people can have multiple middle names; all can be present,
        with the names being separated by space characters. Also note that in some cultures, middle names are not used.

    nickname:
      type: string
      description:
        Casual name of the End-User that may or may not be the same as the given_name. For instance, a nickname value of Mike might
        be returned alongside a given_name value of Michael.
      example: Fantomas

    preferred_username:
      type: string
      description:
        Shorthand name by which the End-User wishes to be referred to at the RP, such as janedoe or j.doe. This value MAY be any
        valid JSON string including special characters such as @, /, or whitespace. The API consumer MUST NOT rely upon this value being unique.
      example: JanN

    email:
      type: string
      description:
        End-User's preferred e-mail address. Its value MUST conform to the RFC 5322 [RFC5322] addr-spec syntax. The API consumer MUST
        NOT rely upon this value being unique.
      example: j.novak@email.com

    email_verified:
      type: boolean
      description:
        True if the End-User's e-mail address has been verified; otherwise false. When this Claim Value is true, this means
        that the OP took affirmative steps to ensure that this e-mail address was controlled by the End-User at the time the
        verification was performed. The means by which an e-mail address is verified is context-specific, and dependent upon
        the trust framework or contractual agreements within which the parties are operating.

    gender:
      type: string
      description:
        End-User's gender. Values defined by this specification are female and male. Other values MAY be used when neither of the
        defined values are applicable.
      enum:
        - male
        - female
        - other

    birthdate:
      type: string
      description:
        End-User's birthday, represented as an ISO 8601:2004 [ISO8601‑2004] YYYY-MM-DD format. The year MAY be 0000,
        indicating that it is omitted. To represent only the year, YYYY format is allowed. Note that depending on the underlying
        platform's date related function, providing just year can result in varying month and day, so the implementers need to
        take this factor into account to correctly process the dates.
      format: date
      example: 1970-08-01

    birthnumber:
      type: string
      description: User's birth number. Birth number is required if nationality is Czech ("CZ") and MUST be without forward slash.
      example: '1101700140'

    birthplace:
      type: string
      description: User's birth place.
      example: 'Praha 4'

    birthcountry:
      type: string
      description: User's country of birth. Element in ISO 3166-1 format, subtype ALPHA-2. This means two letters in uppercase.
      example: 'CZ'

    primary_nationality:
      type: string
      deprecated: true
      title: primary_nationality
      description: Optional element user's primary nationality, ISO 3166-1 format, subtype ALPHA-2. This means two letters in uppercase.
      example: 'CZ'

    nationalities:
      type: array
      title: nationalities
      description: All user's nationalities, ISO 3166-1 format, subtype ALPHA-2. This means two letters in uppercase.
      items:
        type: string
      example: [ 'CZ', 'AT', 'SK' ]

    maritalstatus:
      type: string
      description: >-
        Marital status. One of:
          * `COHABITATION` - cohabitation status.
          * `MARRIED` - married status
          * `DIVORCED` - divorced status
          * `REGISTERED_PARTNERSHIP` - registered partnership status
          * `REGISTERED_PARTNERSHIP_CANCELED` - registered partnership canceled status
          * `WIDOWED` - widowed status
          * `SINGLE` - single status
          * `UNKNOWN` - unknown status
      enum:
        - COHABITATION
        - MARRIED
        - DIVORCED
        - REGISTERED_PARTNERSHIP
        - REGISTERED_PARTNERSHIP_CANCELED
        - WIDOWED
        - SINGLE
        - UNKNOWN

    addresses:
      type: array
      description: User’s addresses
      items:
        $ref: '#/components/schemas/address'

    idcards:
      type: array
      title: idcards
      description: User's id cards
      items:
        $ref: '#/components/schemas/idcard'

    pep:
      type: boolean
      description:
        Flag that the authenticated user is politically exposed person (PEP). In financial regulation, a politically exposed person is one who has been entrusted
        with a prominent public function. A PEP generally presents a higher risk for potential involvement in bribery and corruption by virtue of their position
        and the influence that they may hold.
      example: false

    limited_legal_capacity:
      type: boolean
      description: An indication of whether this is a person with limited legal capacity.
      example: false

    zoneinfo:
      type: string
      description: String from zoneinfo [zoneinfo] time zone database representing the End-User's time zone. For example,Europe/Paris or America/Los_Angeles.
      example: Europe/Prague

    locale:
      type: string
      description:
        End-User's locale, represented as a BCP47 [RFC5646] language tag. This is typically an ISO 639-1 Alpha-2 [ISO639‑1]
        language code in lowercase and an ISO 3166-1 Alpha-2 ISO3166‑1] country code in uppercase, separated by a dash.
        For example, en-US or fr-CA. As a compatibility note, some implementations have used an underscore as the separator
        rather than a dash, for example, en_US; Relying Parties MAY choose to accept this locale syntax as well.
      example: cs_CZ

    phone_number:
      type: string
      description:
        End-User's preferred telephone number. E.164 [E.164] is RECOMMENDED as the format of this Claim, for example, +1(425)
        555-1212 or +56(2) 687 2400. If the phone number contains an extension, it is RECOMMENDED that the extension be represented
[...]
